.argument {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--background-2-color);
    border: solid 1px white;
    max-height: 100%;
}

.argument-username {
    margin-bottom: 15px;
    font-size: 12px;
    color: var(--text-1-color);
    font-size: 0.8em;
}

.argument-input-wrapper {
    display: inline-block;
    max-height: 5000px;
    width: 100%;
}

.button-add-argument {
    padding: 0.5em 1.5em;
    background-color: var(--background-2-color);
    border: solid 1px var(--text-2-color);
    color: var(--background-1-color);
    white-space: nowrap;
    transition: all 0.5s;
}

.button-delete-argument {
    margin-left: 10px;
    padding: 0.5em 1.5em;
    background-color: var(--background-2-color);
    border: solid 1px var(--text-2-color);
    color: var(--background-1-color);
    white-space: nowrap;
    transition: all 0.5s;
}

.argument-input {
    color: var(--background-1-color);
    border: none;
    font-size: 1em;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    background-color: inherit;
    height: auto;
    resize: none;
    min-height: 0px;
    font-size: 1em;
    line-height: 1.5em;
}

.argument-input::placeholder {
    color: var(--text-2-color);;
}

.argument-length-counter {
    margin-bottom: 8px;
    text-align: end;
    color: var(--background-1-color);
}