.argument {
    max-width: 100%;
    display: flex;
    padding: 15px;
    padding-right: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--card-1-color);
    max-height: 100%;
    cursor: default;
    position: relative;
    padding-right: 45px;
    white-space: normal;
    word-break: break-all;
    border: solid 2px var(--text-3-color);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}


.container-text {
    margin-left: 25px;
}

.argument-username {
    margin-top: 5px;
    width: fit-content;
    text-align: end;
    color: var(--text-4-color);
    font-size: 0.9em;
    font-weight: 400;
    cursor: pointer;
}

.argument-text {
    color: var(--text-1-color);
    transition: all 1s;
    font-size: 1.1rem;
    line-height: 1.5em;
    max-width: 80ch;
    word-break: normal;
}

.argument-type-pro {
    margin-bottom: 3px;
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.9em;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px;
}

.argument-type-con {
    margin-bottom: 3px;
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.9em;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px;
}


.container-voting {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0px;
    margin-top: 3px;
}

.wrapper-upvote {
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    cursor: pointer;
}

.wrapper-downvote {
    margin-top: 3px;
    flex-direction: column;
    border-radius: 5px;
    width: 2em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper-upvote svg, .wrapper-upvote:hover p {
    color: var(--upvote-color);
}

.wrapper-downvote:hover p, .wrapper-downvote svg {
    color: var(--downvote-color);
}

.upvote {
    color: var(--upvote-color);
    font-size: 1em;
    text-align: center;
    color: white;
    margin-top: 2px;
    word-break: keep-all;
}

.downvote {
    color: var(--downvote-color);
    color: white;
    font-size: 1em;
    text-align: center;
    word-break: keep-all;
}

.chooser {
    justify-content: space-between;
    border: solid 2px var(--primary-1-color);
}

.button-choose {
    padding: 0px;
    background-color: var(--primary-2-color);
    border: solid 2px var(--primary-1-color);
    z-index: 9999999999;
    margin-bottom: 2px;
    margin-right: 10px;
    color: var(--text-1-color);
    font-size: 1em;
    font-weight: 400;
    text-transform: capitalize;
    padding: 7px 30px;
}

.button-choose:hover {
    background-color: var(--primary-1-color);
}

.argument-input {
    color: var(--text-1-color);
    border: none;
    font-size: 1em;
    padding: 0px;
    font-weight: 500;
    background-color: inherit;
    height: 28px;
    resize: none;
    min-height: 0px;
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 0px;
    max-width: 80ch;
    width: 100%;
}

.argument-input::placeholder {
    color: var(--text-1-color);
    font-size: 1.1rem;
    line-height: 1.5em;
    max-width: 80ch;
    height: 20px;
}

.argument-length-counter {
    text-align: end;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--text-5-color);
}

.full-width {
    width: 100%;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-add {
    width: 49%;
    border: solid 2px var(--primary-1-color);
    background-color: var(--primary-2-color);
    color: var(--text-1-color);
    white-space: nowrap;
}

.button-delete {
    width: 49%;
    border: solid 2px var(--primary-1-color);
    background-color: var(--primary-2-color);
    color: var(--text-1-color);
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {

    .argument {
        padding: 15px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .container-text {
        margin-left: 15px;
    }
}