.container-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 6em;
    padding-bottom: 6em;
    justify-content: center;    
    margin-bottom: 45px;
    background-color: var(--background-3-color);
    position: absolute;
    left: 0px;
    top: 6.5em;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
}

.container-banner h1 {
    font-size: 5.5rem;
    text-align: left;
    width: fit-content;
    background: linear-gradient(to right, white 0%, white 25%,var(--primary-2-color)26%, var(--primary-2-color)61%, white 62%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-banner p {
    margin-top: 10px;
    margin-left: 22px;
    max-width: 70ch;
    font-size: 1.2rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    width: fit-content;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .container-banner {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1000px) {

    .container-banner {
        top: 5em;
        padding-bottom: 5em;
        padding-top: 4em;
    }

    .container-text {
        margin-top: 2vh;
    }

    .container-banner h1 {
        font-size: 4rem;
        padding: 0px 10px;
    }

    .container-banner p {
        margin: 0px;
        margin-left: 10px;
        padding: 0px 10px;
    }
}