:root {

    --background-1-color: #27292e;
    --background-2-color: #00000049;    
    --background-3-color: rgba(14, 13, 13, 0.6); 
    --background-4-color: rgba(24, 24, 26, 0.219); 

    --primary-1-color: #ff3401;
    --primary-2-color: #343a47;

    --card-1-color: #2b2d35;

    --text-1-color: #ffffff;
    --text-2-color: #e0e0e0;
    --text-3-color: #4a4a4a;
    --text-4-color: rgba(255,255,255,0.8);
    --text-5-color: rgba(255,255,255,0.5);
    --text-white: #ffffff;

    --text-error-color: #ff0000;
    --text-message-color: rgb(27, 216, 27);
    --upvote-color: #32CD32;
    --downvote-color: #fa4166;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;    
    letter-spacing: 0.5px;   
}

html {
    overflow-y: scroll;
    background-color: var(--background-1-color);
    background-image: linear-gradient(to right, var(--background-1-color), var(--background-2-color));
}

html, body {
    overscroll-behavior: none;
}

a {
    color: var(--text-1-color);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 1.8rem;
    color: var(--text-1-color);
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-2-color);
}

p {
    color: var(--text-4-color);
    font-size: 1em;
    font-weight: 500;
}

.text-error {
    color: var(--text-error-color) !important;
    width: fit-content;
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
}

.text-message {
    color: var(--text-message-color) !important;
    width: fit-content;
    font-size: 1em;
    font-size: 0.9em;
    font-weight: 300;
}

label {
    font-size: 1em;
    font-size: 400;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
}

input::placeholder, textarea::placeholder  {
    color: var(--text-5-color) !important;
    font-size: 1rem;
}


textarea {
    color: var(--text-2-color);
    letter-spacing: 0.5px;
    min-height: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    white-space: pre-wrap;
    background-color: var(--background-2-color);
}

.main-container-app {
    padding-top: 12em;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 15em);   
}

.container-normal {
    width: calc(100% - 20px);
    padding: 8px;
    padding-top: 0px;
}

.container-relative {
    position: relative;
}

button {
    padding: 0.8em 1.2em;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    transition: all 0.5s;
    color: var(--text-white);
    white-space: nowrap;
}

.button-primary {
    background-color: var(--primary-1-color);
    border: solid 2px var(--primary-1-color);
}

.button-secondary {
    background-color: var(--primary-2-color);
    border: solid 2px var(--primary-2-color);
}

.width-120 {
    width: 120px;
}

.button-full-width {
    width: 100%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.text-auth {
    font-size: 1.1rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {

    .main-container-app {
        padding-top: 7em;
    }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .main-container-app {
        max-width: 1200px;
    }
}
