.container-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    z-index: 200000;
    background-image: linear-gradient(to right, var(--background-1-color), var(--background-3-color));
}

.header-items {
    display: flex;
    transition: all 0s;
}

.header-items button, .header-items div, .header-items a {
    transition: all 0s;
    transition-duration: 0s;
}

.container-dropdown-navbar .container-buttons {
    padding: 20px;
}

.icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper-header svg {
    color: var(--text-2-color);
    cursor: pointer;
    margin-right: 0px;
}

.header-name {
    color: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}

.container-buttons {
    display: "flex";
    align-items: center;
    position: relative;
    margin-left: 20px;
}

.container-buttons .button-submit {
    margin: 0px;
}



.wrapper-header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5em;
    padding: 0px 10px;
    padding-right: 30px;
    transition: height 0.4s;
}


.header-smaller {
    height: 4.8em;
}

.wrapper-header img {
    margin-left: -20px;
    margin-right: 5px;
    height: 55px;
    width: auto;
}

.header-link {
    color: var(--text-1-color);
    color: white;
    background-color: inherit;
    box-shadow: none;
    border: none;
    margin-right: 12px;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    z-index: 5;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: all 0.2s;
}

.header-links:hover {
    background-color: var(--background-2-color);
}

.wrapper-header .header-link:hover {
    background-color: var(--background-2-color);
}

.wrapper-header .header-link-active {
    background-color: var(--card-1-color);
    color: var(--text-1-color);
    border: solid 1px var(--text-2-color);
}

.wrapper-header .header-link-active:hover {
    background-color: var(--card-1-color);
}

.wrapper-header h1 {
    cursor: pointer;
    color: var(--text-1-color);
}

.hamburger {
    display: none;
    margin-right: -10px;
}

.hamburger svg {
    color: var(--text-4-color);
}

@media screen and (min-width: 1000px) {
    .header-items {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

@media screen and (max-width: 1000px) {

    .container-header {
        margin-bottom: 10px;
    }

    .header-name {
        display: none;
    }

    .wrapper-header {
        height: 5em;
        padding: 0px 10px;
        padding-right: 30px;
    }

    .icon-container {
        margin-left: -12px;
        cursor: pointer;
    }
 
    .header-items {
        background-image: linear-gradient(to right, var(--background-1-color), var(--background-3-color));
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 5em;
        height: calc(100vh - 5em);
        width: calc(100% - 20px);
        padding: 10px;
        visibility: hidden;
    }

    .header-link {
        margin-right: 0px;
        margin-bottom: 15px;
        padding: 15px 20px;
        border: solid 1px var(--text-3-color);
        background-color: var(--background-4-color);
        text-align: left;
        display: flex;
        justify-content: left;
        color: var(--text-1-color);
        box-shadow: none;
    }

    .container-buttons {
        display: flex;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .hamburger {
        display: flex;
    }   
}