.container-search-leaderboard {
    display: flex;
    justify-content: center;
}

.leaderboards-desc {
    color: white;
    white-space: nowrap;
    margin: auto;
    margin-bottom: 0px;
    font-size: 1.2em;
}

.container-leaderboard .leaderboard-user-card {
    display: flex;
    margin-bottom: 12px;
    border-radius: 5px;
    background-color: var(--card-1-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--card-1-color);
    border: solid 1px var(--text-2-color);
    padding: 5px;
}

.container-leaderboard .leaderboard-user-card p {
    padding: 12px 25px;
}

.container-leaderboard .leaderboard-user-card p:first-of-type {
    border-right: solid 1px var(--text-2-color);
    color: var(--text-3-color);
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 220px;
    min-width: 170px;
    text-align: end;
    font-weight: 400;
    transition: all 0.3s;
    background-color: var(--background-2-color);
}

.container-leaderboard .leaderboard-user-card p:first-of-type:hover {
    color: var(--background-1-color);
}

.searchbar-leaderboard button:hover:before{
    display: none;
}