.container-auth-card {
    padding: 50px;
    background-color: var(--card-1-color);
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    margin: 0px auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

.container-auth-card h1 {
    text-align: center;
    width: fit-content;
    margin: 0px auto;
    padding: 0px 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}

.button-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 600px) {
    .container-auth-card {
        padding: 25px;
        width: calc(100% - 50px);
    }
}