.container-report {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    cursor: pointer;
}

.container-report svg {
    height: 20px;
    color: var(--text-3-color);
}


.container-report .dummy-popup {
    z-index: 998;
    padding: 10px;
    width: 180px;
    height: 140px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
}   

.container-report .container-popup {
    border-radius: 5px;
    z-index: 9999;
    padding: 20px;
    width: 200px;
    height: 180px;
    position: absolute;
    top: 40px;
    right: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-1-color);
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
}


.container-report .report-alt {
    color: var(--text-4-color);
    white-space: nowrap;
    padding: 3px 10px;
    margin: 0px 0px;
    border-radius: 5px;
}

.container-report .report-alt:hover {
    color: var(--text-1-color);
}

.container-report .container-popup .thank-you {
    color: var(--text-1-color);
    text-align: center;
    margin: auto;
    font-weight: 500;
}

.container-report .container-popup .error-message-report {
    color: var(--downvote-color);
    text-align: center;
    font-weight: 500;
}

.container-report .container-popup .report-header {
    color: var(--text-1-color);
    width: fit-content;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 5px 0px;
}



@media screen and (max-width: 1000px) {
    .container-report {
        right: 5px;
        top: 5px;
        padding: 8px;
    }
}