.container-searchbar {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.container-part {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    width: 100%;
}


@media screen and (max-width: 1000px) {

    .container-searchbar {
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .button-random {
        display: none;
    }

    .container-part {
        justify-content: flex-start;
    }
}
