.container-sortby {
    position: relative;
    margin-left: 10px;
}

.container-sortby .sortby-button {
    padding-right: 70px;
}


.container-sortby svg {
    position: absolute;
    right: 15px;
    top: 12px;
    color: white;
    width: 25px;
    height: 25px;
    cursor: pointer;
    pointer-events: none;
}

.container-sortby .sortby-dropdown {
    position: absolute;
    background-color: var(--primary-2-color);
    padding: 5px;
    z-index: 999;
    right: 0px;
    top: 55px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.sortby-dropdown .sortby {
    position: relative;
    width: 200px;
    background-color: inherit;
    color: var(--text-1-color);
    outline: none;
    text-align: start;
    margin: 5px;
    border: solid 2px transparent;
    box-shadow: none;
}

.sortby-dropdown .sortby:hover {
    border: solid 2px var(--primary-1-color);
    opacity: 1;
}

.sortby-dropdown .sortby-active {
    color: var(--text-1-color);
    background-color: var(--primary-1-color);
    box-shadow: none;

}

.sortby-dropdown .sortby svg {
    background-color: var(--text-2-color);
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .container-sortby {
        margin-right: 0px;
    }
}