.container-topicbar {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    position: relative;
}

.container-part-topic {
    display: flex;
    position: relative;
}


@media screen and (max-width: 1000px) {
    .container-topicbar {
        justify-content: space-between;
    }
}