.container-card-topic {
    padding: 15px;
    background-color: var(--card-1-color);
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.1s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border: solid 2px var(--text-3-color);
}

.container-card-topic:hover {
    border: solid 2px var(--text-5-color);
}


.topic-card-name {
    color: var(--text-1-color);
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 5px;
    margin-right: 20px; 
    border-left: 2px solid var(--text-3-color);
    padding: 15px;
}

.container-card-topic div {
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.topic-card-info {
    color: white;
    padding: 5px;
    font-size: 1em;
    white-space: nowrap;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 500;
}

.info-pros {
    color: var(--upvote-color);
}

.info-cons {
    color: var(--downvote-color);
}

@media screen and (max-width: 1000px) {

    .topic-card-name {
        margin-left: 5px;   
    }

    .container-card-topic {
        margin-bottom: 10px; 
    }
}